

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutMe</title>
</head>
<body>
    <div>
        <h3>Hakkımda</h3>
        Doğum yerim İstanbuldur.Çocukluğumdan beri İstanbul'un kocamustafapaşa semtinde ikamet etmekteyim.Lise eğitimimi Şişli Endüstri Meslek Lisesi'nde tamamladıktan sonra, üniversite sınavı sonucuma göre Trakya Üniversitesine geçiş yaparak hali hazırda Bilgisayar Mühendisliği 4. sınıfta bulunuyorum.
        Bilişim sektörüne lisede okuduğum veri tabanı dalı sayesinde giriş yaptıktan sonra hayatımı bilgisayar alanında ilerletmek istediğime karar verdim. Zaman içerisinde veri tabanı, nesneye yönelik programlama gibi çeşitli alanlarda çalışmalar yaptım. Şuanda kendimi web programlama alanında geliştiriyorum.
    </div>
</body>
</html>
