


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactMe</title>
</head>
<body>
    <div>
        <h3>İletişim</h3>
        <bold>Adres:</bold> Mahallesi Burhanbey Sokak No:3 Daire:9 Kocamustafapaşa,Istanbul  <br />
        <bold>GSM:</bold>+90 542 614 59 13  <br />
        <bold>E-mail:</bold>burakturkeriii@gmail.com 
        <bold>Web:</bold>http://www.burakturkeri.net
    </div>
</body>
</html>
