
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Experience</title>
</head>
<body>
    <div>
        <h3>İŞ VE STAJ DENEYİMLERİ</h3>
        EMPATİK İNSAN KAYNAKLARI-STAJ OKULU(STAJYER)<br />
        AXA SİGORTA/HUKUK DEPARTMANI(ARŞİV GÖREVLİSİ)<br />
        İNKA İNSAN KAYNAKLARI/PASSOLİG GÖREVLİSİ(PART TİME)<br />
        BİLKAY İNSAN KAYNAKLARI/PASSOLİG GÖREVLİSİ(PART TİME)<br />
        INFOOWL(STAJYER)<br />
        TECHLİFE BİLİŞİM ÇÖZÜMLEMELERİ(STAJYER)<br />
    </div>
</body>
</html>
