
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Skills</title>
</head>
<body>
    <div>
        <h3>EĞİTİM BİLGİLERİ</h3>
        2009-2013 Şişli Anadolu Teknik ve Endüstri Meslek Lisesi Bilişim Teknolojileri Alanı- Veritabanı Dalı <br />
        2014- Trakya Üniversitesi-Bilgisayar Mühendisliği
        <h3>BİLGİSAYAR BECERİSİ</h3>
        Microsoft Office Programları<br />
        SQL,ORACLE,MYSQL(Orta Düzey)<br />
        PHP,HTML,CSS,JAVASCRİPT(Orta Düzey)<br />
        C,VB.NET,C++,C#(Orta Düzey)
        <h3>EĞİTİM VE SERTİFİKA BİLGİSİ</h3>
        •	ORACLE ACADEMY “ Oracle Database 11g_2 Day DBA” Katılım belgesi.<br />
        •	Cisco Networking Academy “ IT Essentials: PC Hardware and Software”<br />
        •	ORACLE ACADEMY “Oracle Database 11g_Introduction to SQL” Katılım Belgesi<br />
        •	Empatik İnsan Kaynakları Staj Okulu Katılım Belgesi<br />
    </div>
</body>
</html>
